In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from scipy.stats import pearsonr, spearmanr, chi2_contingency, pointbiserialr, f_oneway # f_oneway - ANOVAS

pd.set_option('display.max_columns', None)

In [28]:
df = pd.read_csv('training data.csv')
df.drop('claim_number', inplace=True, axis=1)

In [29]:
df.dtypes

age_of_driver                int64
gender                      object
marital_status             float64
safty_rating                 int64
annual_income                int64
high_education_ind           int64
address_change_ind           int64
living_status               object
zip_code                     int64
claim_date                  object
claim_day_of_week           object
accident_site               object
past_num_of_claims           int64
witness_present_ind        float64
liab_prct                    int64
channel                     object
policy_report_filed_ind      int64
claim_est_payout           float64
age_of_vehicle             float64
vehicle_category            object
vehicle_price              float64
vehicle_color               object
vehicle_weight             float64
fraud                        int64
dtype: object

In [30]:
df.describe()

,age_of_driver,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,zip_code,past_num_of_claims,witness_present_ind,liab_prct,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_price,vehicle_weight,fraud
count,17998.000000,17993.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17998.000000,17866.000000,17998.000000,17998.000000,17981.000000,17990.000000,17998.000000,17998.000000,17998.000000
mean,43.695466,0.712722,73.562951,37367.655684,0.699189,0.577286,49875.595955,0.505001,0.232677,49.423269,0.600678,4975.792083,5.008060,23089.123114,23031.322385,0.156462
std,11.959819,0.452505,15.346807,2957.297249,0.458623,0.494004,29214.655149,0.955504,0.422550,33.678470,0.489773,2215.706510,2.258391,11988.429767,12052.385584,0.363303
min,18.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,282.639432,0.000000,2457.329316,2429.429302,0.000000
25%,35.000000,0.000000,65.000000,35554.000000,0.000000,0.000000,20111.000000,0.000000,0.000000,17.000000,0.000000,3337.029436,3.000000,14279.574850,14164.122133,0.000000
50%,43.000000,1.000000,76.000000,37610.000000,1.000000,1.000000,50028.000000,0.000000,0.000000,50.000000,1.000000,4668.796318,5.000000,20948.879250,20838.150260,0.000000
75%,51.000000,1.000000,85.000000,39318.000000,1.000000,1.000000,80038.000000,1.000000,0.000000,81.000000,1.000000,6255.901066,6.000000,29562.232780,29430.446293,0.000000
max,229.000000,1.000000,100.000000,54333.000000,1.000000,1.000000,85083.000000,6.000000,1.000000,100.000000,1.000000,17218.345010,16.000000,127063.506000,123016.650400,1.000000

In [31]:
df

,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,claim_date,claim_day_of_week,accident_site,past_num_of_claims,witness_present_ind,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud
0,46,M,1.0,85,38301,1,1,Rent,80006,12/16/2016,Friday,Local,1,0.0,74,Broker,0,7530.940993,9.0,Compact,12885.452350,white,16161.33381,0
1,21,F,0.0,75,30445,0,1,Rent,15021,2/12/2015,Thursday,Highway,1,1.0,79,Online,0,2966.024895,4.0,Large,29429.452180,white,28691.96422,0
2,49,F,0.0,87,38923,0,1,Own,20158,12/6/2016,Tuesday,Local,0,0.0,0,Broker,0,6283.888333,3.0,Compact,21701.181950,white,22090.94758,1
3,58,F,1.0,58,40605,1,0,Own,15024,5/5/2016,Thursday,Local,3,0.0,99,Broker,1,6169.747994,4.0,Medium,13198.273440,other,38329.58106,1
4,38,M,1.0,95,36380,1,0,Rent,50034,10/27/2015,Tuesday,Highway,0,1.0,7,Broker,0,4541.387150,7.0,Medium,38060.211220,gray,25876.56319,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,69,M,1.0,93,42338,1,0,Own,15012,3/28/2015,Saturday,Local,0,0.0,99,Broker,0,4806.841803,6.0,Medium,32144.571850,black,16868.53410,0
17994,35,F,0.0,22,35579,1,1,Own,20111,1/5/2015,Monday,Local,1,0.0,94,Phone,1,4089.794471,3.0,Medium,9468.510601,blue,31500.99689,1
17995,27,F,1.0,81,32953,0,1,Rent,15012,9/10/2016,Saturday,Local,2,0.0,1,Online,1,2225.803056,5.0,Medium,64974.369590,black,44536.25506,0
17996,52,F,1.0,86,39519,1,0,Own,15026,12/25/2015,Friday,Highway,1,1.0,75,Broker,1,9560.744844,3.0,Compact,24983.268110,white,50093.75959,0
17997,61,F,0.0,60,41126,1,0,Rent,50001,9/26/2016,Monday,Parking Lot,1,1.0,35,Phone,0,5166.915270,5.0,Medium,19295.970480,blue,15257.21450,0

In [ ]:
df['claim_date'] = pd.to_datetime(df['claim_date'])
df['claim_year'] = df['claim_date'].dt.year
df['claim_month'] = df['claim_date'].dt.month
df['claim_day_of_month'] = df['claim_date'].dt.day
df.drop('claim_date', axis=1, inplace=True)

In [35]:
df

,age_of_driver,gender,marital_status,safty_rating,annual_income,high_education_ind,address_change_ind,living_status,zip_code,claim_day_of_week,accident_site,past_num_of_claims,witness_present_ind,liab_prct,channel,policy_report_filed_ind,claim_est_payout,age_of_vehicle,vehicle_category,vehicle_price,vehicle_color,vehicle_weight,fraud,claim_year,claim_month,claim_day_of_month
0,46,M,1.0,85,38301,1,1,Rent,80006,Friday,Local,1,0.0,74,Broker,0,7530.940993,9.0,Compact,12885.452350,white,16161.33381,0,2016,12,16
1,21,F,0.0,75,30445,0,1,Rent,15021,Thursday,Highway,1,1.0,79,Online,0,2966.024895,4.0,Large,29429.452180,white,28691.96422,0,2015,2,12
2,49,F,0.0,87,38923,0,1,Own,20158,Tuesday,Local,0,0.0,0,Broker,0,6283.888333,3.0,Compact,21701.181950,white,22090.94758,1,2016,12,6
3,58,F,1.0,58,40605,1,0,Own,15024,Thursday,Local,3,0.0,99,Broker,1,6169.747994,4.0,Medium,13198.273440,other,38329.58106,1,2016,5,5
4,38,M,1.0,95,36380,1,0,Rent,50034,Tuesday,Highway,0,1.0,7,Broker,0,4541.387150,7.0,Medium,38060.211220,gray,25876.56319,0,2015,10,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,69,M,1.0,93,42338,1,0,Own,15012,Saturday,Local,0,0.0,99,Broker,0,4806.841803,6.0,Medium,32144.571850,black,16868.53410,0,2015,3,28
17994,35,F,0.0,22,35579,1,1,Own,20111,Monday,Local,1,0.0,94,Phone,1,4089.794471,3.0,Medium,9468.510601,blue,31500.99689,1,2015,1,5
17995,27,F,1.0,81,32953,0,1,Rent,15012,Saturday,Local,2,0.0,1,Online,1,2225.803056,5.0,Medium,64974.369590,black,44536.25506,0,2016,9,10
17996,52,F,1.0,86,39519,1,0,Own,15026,Friday,Highway,1,1.0,75,Broker,1,9560.744844,3.0,Compact,24983.268110,white,50093.75959,0,2015,12,25
17997,61,F,0.0,60,41126,1,0,Rent,50001,Monday,Parking Lot,1,1.0,35,Phone,0,5166.915270,5.0,Medium,19295.970480,blue,15257.21450,0,2016,9,26

In [ ]:
ordinal_columns = []
nominal_columns = ['gender', 'living_status', 'claim_day_of_week', 'accident_site', 'channel', 'vehicle_category', 'vehicle_color']

cols_to_minmax_scale = ['safty_rating', 'liab_prct']
cols_to_std = ['age_of_driver', 'annual_income', 'claim_est_payout', 'age_of_vehicle', ]